/*Fonts*/

  /*Roblox Font thanks to ReclusionsHD: https://www.deviantart.com/reclusionshd/art/REOPENED-lol-ROBLOX-Font-2019-ReclusionsHD-656860139 */
  /*Backdrop-filter:blur Thanks to Mozilla: https://developer.mozilla.org/es/docs/Web/CSS/backdrop-filter */

  @font-face { font-family: roblox-bold;
    src: url(../fnts/roblox.ttf);
  }

/*--------------------------------------------------------*/

/* Parts of the page */

  /* Body */
  body { background-color: #222222;
         color: #b9b9b9;
         background-image: url(../img/background.png);
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;

  }


/*--------------------------------------------------------*/

/* Classes */

  /* Background Section A */
  .back-a { background-color: rgba(87, 29, 37, 0.925);
            padding-top: 80px;
            box-shadow: inset 0px 10px 40px -5px rgba(0,0,0,0.6);

  }

  /* Background Section B */
  .back-b { background-color: rgba(29, 40, 87, 0.925);
            margin-bottom: 100px;
            padding-top: 80px;
            box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.6);

  }

  /* Background Section Transparent */
  .back-transparent { margin-bottom: 100px;

  }

  /* Buttons */
  .btn-card { background-color: rgb(185, 185, 185, 0.2);
              border-radius: 20px;
              width: 30%;
              margin-left: 35%;
              margin-right: 35%;

              
  }

  /* Cards */
  .card { background-color: rgba(34, 34, 34, 0.6);
          color: #b9b9b9;
          border-radius: 0px;
          backdrop-filter: blur(10px);

  }