/*Roblox Font thanks to ReclusionsHD: https://www.deviantart.com/reclusionshd/art/REOPENED-lol-ROBLOX-Font-2019-ReclusionsHD-656860139*/
/*Backdrop-filter:blur Thanks to Mozilla: https://developer.mozilla.org/es/docs/Web/CSS/backdrop-filter */
@font-face {
  font-family: roblox-bold;
  src: url(../fnts/roblox.ttf);
}


/*Body*/
body { font-family: 'Montserrat', sans-serif;
       background-color: black;
       background-image: url(../img/index-cover.png);
       background-position-x: center;
  }


/*Title*/
#extra-bold-font { font-family: 'roblox-bold',Arial, sans-serif;
                   margin-left: 10px;
                   margin-right: 10px;
                   color: rgba(255, 255, 255, 0.774);

}


/*Jumbotron*/
.jumbotron { background-color: rgba(0, 0, 0, 0.5);
             border-radius: 0px;
             backdrop-filter: blur(15px);
             box-shadow: 0px 0px 60px -10px rgb(0, 0, 0, 0.5);

}
        

/*Buttons*/
.btn { background-color: rgba(0, 0, 0, 0.5);
       color:rgba(255, 255, 255, 0.774);
       border-radius: 0px;
       border-color: black;
       margin-top: 20px;

}

.btn:hover { background-color: rgba(255, 255, 255, 0.6);
             border-radius: 0px;
             border-color: rgb(255, 255, 255);
             box-shadow: 0px 0px 40px -10px rgba(255,255,255,1);

}

