/*Body*/
body{ font-family: 'Montserrat', sans-serif;
  z-index: 50;

}

/*Margins of Navbar*/
.navbar{ margin-top: -64px;
         margin-left: -32px;
         margin-right: -32px;
         margin-bottom: 200px;

}



  
#main-video{ z-index: 0;

}
